<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893482780636-v5t129bjrfv143qhdvphf1q021m9r558.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893482780636-v5t129bjrfv143qhdvphf1q021m9r558</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXPF3zjQtr3g7ffPaoh6luqDT-AwdkGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>893482780636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Imantium.ChatDemoApp</string>
	<key>PROJECT_ID</key>
	<string>ichatz-b4c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>ichatz-b4c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893482780636:ios:6c817a5c1c458bfe9e7119</string>
</dict>
</plist>